.about-me-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:flex-start;
  right: 10px;
  margin: 25px 0;
  /* padding: 10px 90px;  */

}

#aboutme{
  flex: 0 0 15%;
  border-right: 3px solid black;
  margin-right: 35px;
}

.apple p{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-right: 5px;
}

img{
  border:white solid 20px;
}

#profilepic{
  height: 400px;
}
#mywork{
  flex: 0 0 15%;
  margin-left: -210px;
  padding-right: 50px;
  border-right: 3px solid black;
}

.jjb07{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  
}

.jjb07 li:hover{
  border:blue solid 15px;
  border-style: groove;
}



h2{
  height: 100px;

}

.prework{
  display: flex;
  align-items: flex-start;
  border: 5px solid black;
 

  
}

.jjb07 li{
  list-style-type: none;
}

.jjb07:first-child{
  min-height: 25px;
  flex-basis: 50%;
}

.dropdown {
  position: relative;
  display:inline-block;
 }

 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
 }

 .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
 background-color: #ddd;}

.dropdown:hover .dropdown-content {
display: block;}