.navbar li {
  display: inline;
  list-style-type: none;
  padding-left: 125px;
  padding-top: 25px; 
  
  } 
  .navbar a{
  color: blue;
  background-color: lightslategray;
  border:white solid 5px;
  border-radius: 25px;
  }
  
  .navbar a:hover{
  border: Red solid 5px;
  }