* {
  box-sizing: border-box;
  
   } 


header {
border: darkslategray;
border-width: 20px;
}
.topps {
  display: flex;
  flex-direction: row;
  background-color:blue; 
  border-width: 5px;
  width: 100%;
  
}

header.topps{
border:white solid 5px;
border-radius: 25px;
}

h1 {
padding-left: 25px;
}

body {
background-color: darkgrey;
}

